{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{{ about_page.meta_title_uz }}{% endblock %}
{% block description %}{{ about_page.meta_description_uz }}{% endblock %}
{% block keywords %}{{ about_page.meta_keywords_uz }}{% endblock %}
{% block content %}
    {% include 'blocks/callback.html' %}

    {% include 'blocks/mobile_menu.html' %}

    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->

        <!-- Загаловок страницы и хлебные крошки -->
    <section class="title_page">
      <!-- Заголовок страницы -->
      <h1>О компании</h1>
      <!-- Конец заголовка страницы -->
      <!-- Хлебные крошки -->
      <div class="breadcrumb">
        <!-- Ссылки хлебных крошек -->
        <ul>
          <!-- Страница первого уровня -->
          <li><a href="{% url 'mainapp:index' %}">Главная</a></li>
          <!-- Конец страницы первого уровня -->
          <!-- Страница на которой находится пользователь -->
          <li>О компании</li>
          <!-- Конец страницы на которой находиться пользователь -->
        </ul>
        <!-- Конец ссылок хлебных крошек -->
      </div>
      <!-- Конец хлебных крошек -->
    </section>
    <!-- Загаловок страницы и хлебные крошки конец-->

    <!-- Секция мобильного каталога товаров -->
    {% include 'blocks/mobile_button.html' %}
    <!-- Конец секции мобильного каталога товаров -->
    <!-- Контент страницы "О компании" -->
    <main class="main-content set-bg" data-setbg="{% static 'img/bg_company.png' %}">
      <!-- Секция О компании текст -->
      <section
        class="company bg-pstn"
        data-bgpstn="{% static 'img/index/partners/arrow_partners_down.png' %}"
      >
        <div class="container-fluid spad">
          <div class="row">
            <!-- Блок о компании текст -->
            <div class="company_content">
              <p>{{ about_page.text_1_uz }}</p>
              <!-- Числовой блок страницы "О компании" -->
              <div class="about_description">
                <div class="desc_text">
                  <h3>{{ about_page.year }} года</h3>
                  <p>на рынке</p>
                </div>
                <div class="desc_text">
                  <h3>{{ about_page.order }}</h3>
                  <p>и более заказов</p>
                </div>
                <div class="desc_text">
                  <h3>{{ about_page.delivery }}</h3>
                  <p>доставок</p>
                </div>
                <div class="desc_text">
                  <h3>{{ about_page.repeated }}%</h3>
                  <p>повторных обращений</p>
                </div>
              </div>
              <!-- Числовой блок страницы "О компании" -->
              <p>{{ about_page.text_2_uz }}</p>
            </div>
            <!-- Блок о компании текст конец -->
          </div>
        </div>
      </section>
      <!-- Секция О компании текст конец -->

      <!-- Секция наши партнеры -->
      <section class="partners_blog container-fluid spad">
        <!-- Загаловок Наши партнеры -->
        <div class="header-content right-header">
          <h2>Наши партнеры</h2>
        </div>
        <!-- Загаловок Наши партнеры конец -->

        <!-- Контейнер наши партнеры элементы -->
        <div class="partners_items row">
            {% for partner in partners %}
                <!-- Наши партнеры элемент  -->
                <div class="partners_item col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3" >
                    <!-- Изображение элемента -->
                    <img src="{{ partner.img.url }}" alt="" />
                    <!-- Конец изображения элемента -->
                </div>
                <!-- Наши партнеры элемент конец -->
            {% endfor %}
        </div>
        <!-- Контейнер наши партнеры элементы конец -->
      </section>
      <!--  Секция наши партнеры конец -->

      <!-- Секция отзывов -->
      {% include 'blocks/reviews.html' %}
      <!-- Секция отзывов конец -->

      <!-- Секция с формой "Есть вопросы?" -->
      {% include 'blocks/question_form.html' %}
      <!-- Секция с формой "Есть вопросы?" конец-->
    </main>
    <!-- Футер  -->
    {% include 'footer.html' %}
    <!-- Футер конец -->

        <!-- Окно оповещения -->
        <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
          <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
           <!-- Контент окна оповещения -->
            <div class="toast-header">
                <strong class="mr-auto">Товар добавлен в корзину</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- Контент окна оповещения -->
            <div class="toast-body">
                Ваш товар добавлен в корзину!
            </div>
          </div>
      </div>
      <!-- Конец окна оповещения -->
{% endblock %}