{% extends 'wrapper.html' %}
{% load static %}
{% block title %}О компании{% endblock %}
{% block content %}
    {# Callback #}
    {% include 'blocks/callback.html' %}
    {# End Callback #}
    <!-- Мобильное меню -->
    {% include 'blocks/mobile_menu.html' %}
    <!-- Мобильное меню конец -->
    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->

    <!-- Загаловок страницы и хлебные крошки -->
    <section class="title_page">
      <!-- Заголовок страницы -->
      <h1>О компании</h1>
      <!-- Конец заголовка страницы -->
      <!-- Хлебные крошки -->
      <div class="breadcrumb">
        <!-- Ссылки хлебных крошек -->
        <ul>
          <!-- Страница первого уровня -->
          <li><a href="{% url 'mainapp:index' %}">Главная</a></li>
          <!-- Конец страницы первого уровня -->
          <!-- Страница на которой находится пользователь -->
          <li>О компании</li>
          <!-- Конец страницы на которой находиться пользователь -->
        </ul>
        <!-- Конец ссылок хлебных крошек -->
      </div>
      <!-- Конец хлебных крошек -->
    </section>
    <!-- Загаловок страницы и хлебные крошки конец-->
    <!-- Контент страницы "О компании" -->
    <main class="main-content set-bg" data-setbg="{% static 'img/bg_company.png' %}">
      <!-- Секция О компании текст -->
      <section class="company bg-pstn" data-bgpstn="{% static 'img/arrow_partners_down.png' %}">
        <div class="container-fluid spad">
          <div class="row">
            <!-- Блок о компании текст -->
            <div class="company_content">
              <p>{{ about_page.text_1_ru }}</p>
              <!-- Числовой блок страницы "О компании" -->
              <div class="about_description">
                <div class="desc_text">
                    {% if about_page.year < 2 %}
                    <h3>{{ about_page.year }} год</h3>
                    {% elif about_page.year < 5 %}
                    <h3>{{ about_page.year }} года</h3>
                    {% else %}
                    <h3>{{ about_page.year }} лет</h3>
                    {% endif %}
                  <p>на рынке</p>
                </div>
                <div class="desc_text">
                  <h3>{{ about_page.order }}</h3>
                  <p>и более заказов</p>
                </div>
                <div class="desc_text">
                  <h3>{{ about_page.delivery }}</h3>
                  <p>доставок</p>
                </div>
                <div class="desc_text">
                  <h3>{{ about_page.repeated }}%</h3>
                  <p>повторных обращений</p>
                </div>
              </div>
              <!-- Числовой блок страницы "О компании" -->
              <p>{{ about_page.text_2_ru }}</p>
            </div>
            <!-- Блок о компании текст конец -->
          </div>
        </div>
      </section>
      <!-- Секция О компании текст конец -->

      <!-- Секция наши партнеры -->
      <section class="partners_blog container-fluid spad">
        <!-- Загаловок Наши партнеры -->
        <div class="header-content right-header">
          <h2>Наши партнеры</h2>
        </div>
        <!-- Загаловок Наши партнеры конец -->

        <!-- Контейнер наши партнеры элементы -->
        <div class="partners_items row">
          <!-- Наши партнеры элемент  -->
            {% for partner in partners %}
                <div class="partners_item col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
          <!-- Изображение элемента -->
            <img src="{{ partner.img.url }}" alt="" />
            <!-- Конец изображения элемента -->
          </div>
            {% endfor %}
          <!-- Наши партнеры элемент конец -->
        </div>
        <!-- Контейнер наши партнеры элементы конец -->
      </section>
      <!--  Секция наши партнеры конец -->

      <!-- Секция отзывов -->
      <section class="reviews_company spad no-bg">
        <!-- Заголовок отзывов -->
        <div class="header-content">
          <h2>Отзывы</h2>
        </div>
        <!-- Заголовок отзывов конец -->

        <!-- Главный контейнер слайдеров -->
        <div class="swiper-container">
          <!-- Оболочка слайдов -->
          <div class="swiper-wrapper">
            <!-- Слайды -->
            <div class="swiper-slide reviews-slide spad">
                {% for review in reviews %}
                    <!-- Пункт отзыва -->
                    <div class="rewiew-slider-item">
                        <!-- Заголовок с именем пользователя -->
                        <h3>{{ review.name }}</h3>
                        <!-- Конец заголовок с именем пользователя -->
                        <!-- Текст отзыва -->
                        <p>{{ review.text }}</p>
                        <!-- Конец текста с отзывом -->
                    </div>
                    <!-- Пункт отзыва конец -->
                {% endfor %}
            </div>
            <!-- Слайды конец -->
          </div>
          <!-- Оболочка слайдов конец -->
          <!-- Конпки слайдера -->
          <!-- Кнопка переключения назад -->
          <div class="swiper-button-prev"></div>
          <!-- Конец кнопки переключения назад -->
          <!-- Кнопка переключения вперед -->
          <div class="swiper-button-next"></div>
          <!-- Конец кнопки переключения вперед -->
          <!-- Конец кнопок слайдера -->
        </div>
        <!-- Главный контейнер слайдеров конец-->
      </section>
      <!-- Секция отзывов конец -->

      <!-- Секция с формой "Есть вопросы?" -->
      <section class="form set-bg" data-setbg="{% static 'img/bg_leave.png' %}">
        <div class="container-fluid spad">
          <div class="row">
            <form
              class="form_container form_cont set-bg"
              data-setbg="{% static 'img/bg_blur.png' %}"
              action="#"
            >
              <!-- Загаловок форм -->
              <h3>Есть вопросы?! Пишите нам!</h3>
              <!-- Загаловок форм конец -->

              <!-- Поле для имени -->
              <input class="form_input" type="text" placeholder="Ваше имя" />
              <!-- Поле для имени конец -->

              <!-- Поле для телефона -->
              <input
                class="form_input"
                type="tel"
                placeholder="Номер телефона"
              />
              <!-- Поле для телефона конец -->

              <!-- Поле текста для вопроса -->
              <textarea
                class="textarea_input"
                name="message"
                placeholder="Текст вопроса:"
              ></textarea>
              <!-- Поле текста для вопроса конец -->

              <!-- Блок отправки -->
              <div class="submit_block">
                <div class="checkbox_item">
                  <label for="checkbox_page"
                    ><input
                      id="checkbox_page"
                      class="checkbox_input"
                      type="checkbox"
                    />Соглашаюсь с политикой обработанных данных</label
                  >
                </div>
                <button class="btn_submit" type="submit">Отправить</button>
              </div>
              <!-- Блок отправки конец -->
            </form>
          </div>
        </div>
      </section>
      <!-- Секция с формой "Есть вопросы?" конец-->
    </main>

    <!-- Футер  -->
    {% include 'footer.html' %}
    <!-- Футер конец -->

    <!-- Окно сообщения -->
    <div
      class="position-fixed top-0 right-0 p-3"
      style="z-index: 5; right: 0; top: 0"
    >
      <div
        id="liveToast"
        class="toast fade hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="5000"
      >
        <div class="toast-header">
          <strong class="mr-auto">Товар добавлен в корзину</strong>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="toast-body">Ваш товар добавлен в корзину!</div>
      </div>
    </div>
    <!-- Конец окна сообщения -->
{% endblock %}