{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Доставка{% endblock %}
{% block content %}
    <!-- Кнопка Обратоного Вызова -->
    <button
      type="button"
      class="recall_btn btn btn-primary"
      data-toggle="modal"
      data-target="#myModal"
    >
      <img src="{% static 'img/phone_icon.svg' %}" alt="" />
    </button>
    <!-- Кнопка Обратного Вызова конец -->

    <!-- Модальное окно обратного звонка -->
    <div class="modal fade" id="myModal">
      <div class="modal-dialog">
        <div class="modal-content">
          <div class="modal-body">
            <h2 class="modal_title">
              Пожалуйста, заполните поля для обратной связи с Вами
            </h2>
            <form action="#" class="modal_form">
              <div class="row">
                <div class="col-12">
                  <input type="text" placeholder="Имя" />
                </div>
                <div class="col-12">
                  <input type="tel" placeholder="Тел:" />
                </div>
                <div class="col-6">
                  <input type="text" placeholder="Кол-во" />
                </div>
                <div class="col-6">
                  <input type="text" placeholder="Срок:" />
                </div>
                <div class="col-12">
                  <textarea placeholder="Коментарии"></textarea>
                </div>
                <div class="col-12 checkbox_modal">
                  <label for="checkbox">
                    <input id="checkbox" class="checkbox_input" type="checkbox"/>Соглашаюсь с политикой обработанных данных</label>
                </div>
              </div>
              <button type="submit" class="btn_modal_submit">
                Узнать цену товара
              </button>
            </form>
          </div>
        </div>
      </div>
    </div>
    <!-- Модальное окно обратного звонка конец -->

    <!-- Мобильное меню -->
    <div class="overlay"></div>
    <section class="mobile_menu">
      <!-- Логотип в мобильном -->
      <div class="logo">
        <a href="{% url 'mainapp:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo" /></a>
      </div>
      <!-- Логотип в мобильном конец -->

      <!-- Поиск в мобильном -->
      <div class="mobile_search">
        <form action="#" method="POST">
          <button><i class="fas fa-search"></i></button>
          <input type="search" />
        </form>
      </div>
      <!-- Поиск в мобильном конец -->

      <div class="mobile_cat_nav">
        <!-- Все категории в мобильном -->
        <div class="mobile_all-product">
          <a class="mobile_all-product-link" href="#"
            ><span><i class="fas fa-list"></i></span>каталог товаров</a
          ><button class="open-cat-list">
            <i class="fas fa-chevron-right"></i>
          </button>
          <ul>
            <li><a href="Category_products.html">Шланги</a></li>
            <li><a href="Category_products.html">Фиксаторы для лесов</a></li>
            <li><a href="Category_products.html">Фанера</a></li>
            <li><a href="Category_products.html">Унивилки</a></li>
            <li><a href="Category_products.html">Уголки</a></li>
            <li><a href="Category_products.html">Трубы</a></li>
            <li><a href="Category_products.html">Тайрот</a></li>
            <li><a href="Category_products.html">Стойки</a></li>
            <li><a href="Category_products.html">Пружинный зажим</a></li>
            <li><a href="Category_products.html">Перемычка</a></li>
            <li><a href="Category_products.html">Опалубка</a></li>
            <li><a href="Category_products.html">Объемные стойки</a></li>
            <li><a href="Category_products.html">Объемные опалубки</a></li>
            <li><a href="Category_products.html">Настил</a></li>
            <li><a href="Category_products.html">Леса</a></li>
            <li><a href="Category_products.html">Крюк</a></li>
            <li><a href="Category_products.html">Домкрат</a></li>
            <li><a href="Category_products.html">Клин</a></li>
            <li><a href="Category_products.html">Пружинный зажим</a></li>
          </ul>
        </div>
        <!-- Все категории в мобильном конец -->

        <!-- Навигация арендуемух товаров в мобильном -->
        <div class="mobile-category-nav">
          <ul>
            <li class="mobile-nav-elem">
              <a href="Formwork_rental.html">Аренда опалубка</a>
              <ul>
                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                <li class="mobile-nav-elem">
                  <a href="#">Пример</a>
                  <ul>
                    <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                    <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                    <li class="mobile-nav-elem">
                      <a href="#">Пример1</a>
                      <ul>
                        <li class="mobile-nav-elem">
                          <a href="#">Пример2</a>
                          <ul>
                            <li class="mobile-nav-elem">
                              <a href="#">Пример</a>
                            </li>
                            <li class="mobile-nav-elem">
                              <a href="#">Пример</a>
                            </li>
                            <li class="mobile-nav-elem">
                              <a href="#">Пример</a>
                            </li>
                            <li class="mobile-nav-elem">
                              <a href="#">Пример</a>
                            </li>
                          </ul>
                        </li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                      </ul>
                    </li>
                    <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                  </ul>
                </li>
                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
              </ul>
            </li>
            <li class="mobile-nav-elem">
              <a href="Formwork_rental.html">Продажа опалубка</a>
            </li>
            <li class="mobile-nav-elem">
              <a href="Formwork_rental.html">Аренда бытовок</a>
              <ul>
                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                <li class="mobile-nav-elem">
                  <a href="#">Пример1</a>
                  <ul>
                    <li class="mobile-nav-elem">
                      <a href="#">Пример2</a>
                      <ul>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                      </ul>
                    </li>
                    <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                    <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                    <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                  </ul>
                </li>
                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
              </ul>
            </li>
            <li class="mobile-nav-elem">
              <a href="Formwork_rental.html">Аренда лесов</a>
            </li>
          </ul>
        </div>
        <!-- Навигация арендуемух товаров в мобильном конец -->
      </div>

      <!-- навигация в мобильном -->
      <div class="mobile_nav">
        <ul>
          <li><a href="Company.html">О компании</a></li>
          <li><a href="Contacts.html">Контакты</a></li>
          <li><a href="Rent_terms.html">Условия аренды</a></li>
          <li><a href="Delivery.html">Доставка</a></li>
          <li><a href="Services.html">Услуги</a></li>
        </ul>
      </div>
      <!-- навигация в мобильном конец -->

      <!-- Языки в мобильном  -->
      <div class="mobile_lang">
        <ul>
          <li><a class="active-lang" href="#">рус</a></li>
          <li><a href="#">uzb</a></li>
        </ul>
      </div>
      <!-- Языки в мобильном конец -->

      <!-- Кнопка закрыть мобильное меню  -->
      <div class="menu-clouse">
        <button class="menu-clouse-button">Закрыть меню</button>
      </div>
      <!-- Кнопка закрыть мобильное меню конец -->
    </section>
    <!-- Мобильное меню конец -->

    <!-- Иконка открытия мобильного меню  -->
    <div class="mobile-button">
      <button><i class="fas fa-bars"></i></button>
    </div>
    <!-- Иконка открытия мобильного меню конец -->

    <!-- Мобильное меню конец -->

    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->
    <!-- Контент страницы -->
    <main>
      <!-- Загаловок страницы и хлебные крошки -->
      <section class="title_page">
        <!-- Заголовок страницы -->
        <h1>Доставка</h1>
        <!-- Конец заголовка страницы -->
        <!-- Хлебные крошки -->
        <div class="breadcrumb">
          <ul>
              <!-- Ссылка на первый уровень -->
            <li><a href="{% url 'mainapp:index' %}">Главная</a></li>
            <!-- Конец ссылки на первый уровень -->
            <!-- Страница на которой находится пользователь -->
            <li>Доставка</li>
            <!-- Конец страницы на которой находится пользователь -->
          </ul>
        </div>
        <!-- Конец хлебных крошек -->
      </section>
      <!-- Загаловок страницы и хлебные крошки конец-->

      <!-- Секция информация о доставке -->
      <section class="delivery set-bg" data-setbg="{% static 'img/bg_delivery.png' %}">
        <div class="container-fluid spad">
          <div class="row">
            <div class="delivery_info">
              <!-- Загаловок информации доставки -->
              <h2 class="delivery__title">Доставка товаров</h2>
              <!-- Загаловок информации доставки конец -->

              <!-- Блок информации о доставке -->
              <div class="delivery_text">{{ delivery_page.text_ru|safe }}</div>
              <!-- Блок информации о доставке -->
            </div>
          </div>
        </div>
      </section>
      <!-- Секция информация о доставке конец -->

      {% include 'blocks/reviews.html' %}

      <!-- Секция с формой "Есть вопросы?" -->
      <section class="form set-bg" data-setbg="{% static 'img/bg_leave.png' %}">
        <div class="container-fluid spad">
          <div class="row">
            <form
              class="form_container form_cont set-bg"
              data-setbg="{% static 'img/bg_blur.png' %}"
              action="#"
            >
              <!-- Загаловок форм -->
              <h3>Есть вопросы?! Пишите нам!</h3>
              <!-- Загаловок форм конец -->

              <!-- Поле для имени -->
              <input class="form_input" type="text" placeholder="Ваше имя" />
              <!-- Поле для имени конец -->

              <!-- Поле для телефона -->
              <input
                class="form_input"
                type="tel"
                placeholder="Номер телефона"
              />
              <!-- Поле для телефона конец -->

              <!-- Поле текста для вопроса -->
              <textarea
                class="textarea_input"
                name="message"
                placeholder="Текст вопроса:"
              ></textarea>
              <!-- Поле текста для вопроса конец -->

              <!-- Блок отправки -->
              <div class="submit_block">
                <div class="checkbox_item">
                  <label for="checkbox_page"
                    ><input
                      id="checkbox_page"
                      class="checkbox_input"
                      type="checkbox"
                    />Соглашаюсь с политикой обработанных данных</label
                  >
                </div>
                <button class="btn_submit" type="submit">Отправить</button>
              </div>
              <!-- Блок отправки конец -->
            </form>
          </div>
        </div>
      </section>
      <!-- Секция с формой "Есть вопросы?" конец-->
    </main>
    <!-- Конец контента на странице -->
    <!-- Футер  -->
    {% include 'footer.html' %}
    <!-- Футер конец -->

    <!-- Окно сообщения -->
    <div
      class="position-fixed top-0 right-0 p-3"
      style="z-index: 5; right: 0; top: 0"
    >
      <div
        id="liveToast"
        class="toast fade hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="5000"
      >
        <div class="toast-header">
          <strong class="mr-auto">Товар добавлен в корзину</strong>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="toast-body">Ваш товар добавлен в корзину!</div>
      </div>
    </div>
    <!-- Конец окна сообщения -->
{% endblock %}