{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{{ delivery_page.meta_title_uz }}{% endblock %}
{% block description %}{{ delivery_page.meta_description_uz }}{% endblock %}
{% block keywords %}{{ delivery_page.meta_keywords_uz }}{% endblock %}
{% block content %}
    {# Callback #}
    {% include 'blocks/callback.html' %}
    {# End Callback #}
    <!-- Мобильное меню -->
    {% include 'blocks/mobile_menu.html' %}
    <!-- Мобильное меню конец -->
    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->
    <!-- Контент страницы -->
    <main>
      <!-- Загаловок страницы и хлебные крошки -->
      <section class="title_page">
        <!-- Заголовок страницы -->
        <h1>Доставка</h1>
        <!-- Конец заголовка страницы -->
        <!-- Хлебные крошки -->
        <div class="breadcrumb">
          <ul>
              <!-- Ссылка на первый уровень -->
            <li><a href="{% url 'mainapp_uz:index' %}">Главная</a></li>
            <!-- Конец ссылки на первый уровень -->
            <!-- Страница на которой находится пользователь -->
            <li>Доставка</li>
            <!-- Конец страницы на которой находится пользователь -->
          </ul>
        </div>
        <!-- Конец хлебных крошек -->
      </section>
      <!-- Загаловок страницы и хлебные крошки конец-->
        <!-- Секция мобильного каталога товаров -->
        {% include 'blocks/mobile_button.html' %}
        <!-- Конец секции мобильного каталога товаров -->
      <!-- Секция информация о доставке -->
      <section class="delivery set-bg" data-setbg="{% static 'img/bg_delivery.png' %}">
        <div class="container-fluid spad">
          <div class="row">
            <div class="delivery_info">
              <!-- Загаловок информации доставки -->
              <h2 class="delivery__title">Доставка товаров</h2>
              <!-- Загаловок информации доставки конец -->

              <!-- Блок информации о доставке -->
              <div class="delivery_text">{{ delivery_page.text_uz|safe }}</div>
              <!-- Блок информации о доставке -->
            </div>
          </div>
        </div>
      </section>
      <!-- Секция информация о доставке конец -->

      {% include 'blocks/reviews.html' %}

      <!-- Секция с формой "Есть вопросы?" -->
      <section class="form set-bg" data-setbg="{% static 'img/bg_leave.png' %}">
        <div class="container-fluid spad">
          <div class="row">
            <form
              class="form_container form_cont set-bg"
              data-setbg="{% static 'img/bg_blur.png' %}"
              action="#"
            >
              <!-- Загаловок форм -->
              <h3>Есть вопросы?! Пишите нам!</h3>
              <!-- Загаловок форм конец -->

              <!-- Поле для имени -->
              <input class="form_input" type="text" placeholder="Ваше имя" />
              <!-- Поле для имени конец -->

              <!-- Поле для телефона -->
              <input
                class="form_input"
                type="tel"
                placeholder="Номер телефона"
              />
              <!-- Поле для телефона конец -->

              <!-- Поле текста для вопроса -->
              <textarea
                class="textarea_input"
                name="message"
                placeholder="Текст вопроса:"
              ></textarea>
              <!-- Поле текста для вопроса конец -->

              <!-- Блок отправки -->
              <div class="submit_block">
                <div class="checkbox_item">
                  <label for="checkbox_page"
                    ><input
                      id="checkbox_page"
                      class="checkbox_input"
                      type="checkbox"
                    />Соглашаюсь с политикой обработанных данных</label
                  >
                </div>
                <button class="btn_submit" type="submit">Отправить</button>
              </div>
              <!-- Блок отправки конец -->
            </form>
          </div>
        </div>
      </section>
      <!-- Секция с формой "Есть вопросы?" конец-->
    </main>
    <!-- Конец контента на странице -->
    <!-- Футер  -->
    {% include 'footer.html' %}
    <!-- Футер конец -->

    <!-- Окно сообщения -->
    <div
      class="position-fixed top-0 right-0 p-3"
      style="z-index: 5; right: 0; top: 0"
    >
      <div
        id="liveToast"
        class="toast fade hide"
        role="alert"
        aria-live="assertive"
        aria-atomic="true"
        data-delay="5000"
      >
        <div class="toast-header">
          <strong class="mr-auto">Товар добавлен в корзину</strong>
          <button
            type="button"
            class="ml-2 mb-1 close"
            data-dismiss="toast"
            aria-label="Close"
          >
            <span aria-hidden="true">×</span>
          </button>
        </div>
        <div class="toast-body">Ваш товар добавлен в корзину!</div>
      </div>
    </div>
    <!-- Конец окна сообщения -->
{% endblock %}