{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Index_uz{% endblock %}
{% block content %}
    {# Callback #}
    {% include 'blocks/callback.html' %}
    {# End Callback #}
    <!-- Мобильное меню -->
    {% include 'blocks/mobile_menu.html' %}
    <!-- Мобильное меню конец -->
    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->

    <!-- Секция Баннера -->
        <section class="banner">
            <!-- Блок картинка сам Баннер -->
            <div class="banner-img">
                <img src="{% static 'img/slayder.png' %}" alt="slayder.png" />
            </div>
            <!-- Блок картинка сам Баннер -->

            <!-- Блок текст баннера -->
            <div class="banner-content">
                <h1>{{ main_page.first_block_title_uz }}</h1>
                <p>{{ main_page.first_block_description_uz }}</p>
                <!-- Начало ссылки на страницу каталога товаров -->
                <a href="Catalog.html">перейти</a>
                <!-- Конец ссылки на страницу каталога товаров -->
            </div>
            <!-- Блок текст баннера -->
        </section>
    <!-- Секция Баннера конец -->

        <!-- Секция как мы работаем -->
            <section class="spad container-fluid">
                <div class="how-work row">
                    <!-- Заголовок -->
                    <div class="col-12 header-content">
                        <h2>Как мы работаем</h2>
                    </div>
                    <!-- Конец заголовока -->
                    {% for workstep in worksteps %}
                    <!-- Ячейка блока секции "Как мы работаем" -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 how-work-item">
                        <div class="how-work-elem">
                            <img src="{{ workstep.img.url }}" alt=""/>
                            <p>{{ workstep.name_uz }}</p>
                        </div>
                        <div class="how-work-arrow">
                            <img src="{% static 'img/arrow_work.png' %}" alt="" />
                        </div>
                    </div>
                    <!-- Конец ячейки блока секции "Как мы работаем" -->
                    {% endfor %}
                </div>
            </section>
            <!-- Секция как мы работаем конец -->
        <!-- Секция о компании -->
        <section class="container-fluid spad about-company">
            <div class="about-company-row row">
                <!-- Загаловок о компании -->
                <div class="col-12 header-content">
                    <h2>О компании</h2>
                </div>
                <!-- Загаловок о компании -->
                <!-- Текс "О компании" -->
                <div class="company-text col-12">
                    <img src="{{ main_page.about_img.url }}" alt="" />
                    <p>{{ main_page.about_par_1_uz }}</p>

                    <!-- Блок счетчик -->
                    <div class="benefits">
                        <div class="benefits__inner">
                            <div class="benefits__element">
                                <p class="benefits__number">{{ main_page.client }}</p>
                                <p class="benefits__title">Клиентов</p>
                            </div>
                            <div class="benefits__element">
                                <p class="benefits__number">{{ main_page.sold }}</p>
                                <p class="benefits__title">Проданных товаров</p>
                            </div>
                            <div class="benefits__element">
                                <p class="benefits__number">{{ main_page.success }}</p>
                                <p class="benefits__title">
                                    Успешно выполненных заказов
                                </p>
                            </div>
                        </div>
                    </div>
                    <!-- Блок счетчик -->
                    <p>{{ main_page.about_par_2_uz }}</p>
                </div>
                <!-- Конец блока с текстом "О компании" -->
            </div>
        </section>
        <!-- Секция о компании конец -->

        <!-- Секция примеры нашец продукции -->
        <section class="spad container-fluid category-tile">
            <!-- Загаловок примеровй нашей продукции -->
            <div class="col-12 header-content right-header">
                <h2>Примеры нашей продукции</h2>
            </div>
            <!-- Загаловок примеровй нашей продукции -->

            <!-- Блок категории товаров -->
            <div class="row category-tile-row category_bg">
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                 <!-- Товар -->
                 <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
                <!-- Товар -->
                <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                    <!-- Изображение товара -->
                    <div class="cat-img">
                        <img src="{% static 'img/product_photo_big.png' %}" alt="" />
                    </div>
                    <!-- Конец изображение товара -->
                    <!-- Заголовок с названием товара -->
                    <h3>Стойка</h3>
                    <!-- Конец заголовок с названием товара -->
                    <!-- Характеристики товара -->
                    <ul>
                        <li>Ширина <span class="category-val">0,9m</span></li>
                        <li>Длинна <span class="category-val">0,3m</span></li>
                        <li>Высота <span class="category-val">3m</span></li>
                    </ul>
                    <!-- Конец характеристик товара -->
                    <!-- Кнопка перейти -->
                    <div class="category-button">
                        <a href="#">перейти</a>
                    </div>
                    <!-- Конец кнопки перейти -->
                </div>
                <!-- Товар конец -->
            </div>
            <!-- Блок категории товаров конец -->
        </section>
        <!-- Секция примеры нашец продукции конец -->

        {% include 'blocks/reviews.html' %}

        <!-- Секция наши партнеры -->
    <section class="partners_blog container-fluid spad">
        <!-- Загаловок Наши партнеры -->
        <div class="header-content right-header">
            <h2>Наши партнеры</h2>
        </div>
        <!-- Загаловок Наши партнеры конец -->

        <!-- Контейнер наши партнеры элементы -->
        <div class="partners_items row">
            {% for partner in partners %}
            <!-- Наши партнеры элемент  -->
            <div class="partners_item col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3"><img src="{{ partner.img.url }}" alt=""></div>
            <!-- Наши партнеры элемент конец -->
            {% endfor %}
            <!-- Элеменет с изображением лого партнера -->
        </div>
        <!-- Контейнер наши партнеры элементы конец -->
    </section>
    <!--  Секция наши партнеры конец -->



        <!-- Футер  -->
        {% include 'footer.html' %}
        <!-- Футер конец -->

        <!-- Окно оповещения -->
        <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
          <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
           <!-- Контент окна оповещения -->
            <div class="toast-header">
                <strong class="mr-auto">Товар добавлен в корзину</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <!-- Контент окна оповещения -->
            <div class="toast-body">
                Ваш товар добавлен в корзину!
            </div>
          </div>
      </div>
      <!-- Конец окна оповещения -->
{% endblock %}