{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{{ rent_terms_page.meta_title_uz }}{% endblock %}
{% block description %}{{ rent_terms_page.meta_description_uz }}{% endblock %}
{% block keywords %}{{ rent_terms_page.meta_keywords_uz }}{% endblock %}
{% block content %}
    {# Callback #}
    {% include 'blocks/callback.html' %}
    {# End Callback #}
    <!-- Мобильное меню -->
    {% include 'blocks/mobile_menu.html' %}
    <!-- Мобильное меню конец -->
    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->
    <!-- Загаловок страницы и хлебные крошки -->
    <section class="title_page">
        <h1>Условия аренды</h1>
        <div class="breadcrumb">
            <ul>
                <li><a href="{% url 'mainapp_uz:index' %}">Главная</a></li>
                <li>Условия аренды</li>
            </ul>
        </div>
    </section>
    <!-- Загаловок страницы и хлебные крошки конец-->
    <!-- Секция мобильного каталога товаров -->
    {% include 'blocks/mobile_button.html' %}
    <!-- Конец секции мобильного каталога товаров -->
    <main class="main-content set-bg" data-setbg="{% static 'img/bg_conditions.png' %}">
        <!-- Секция Условия аренды информация -->
        <section class="section_info">
            <!-- Контейнер условия аренды информация -->
            <div class="container_position container-fluid spad">
                <!-- Контент условия аренды -->
                <div class="company_content">
                    <!-- Загаловок контента -->
                    <h3 class="offers_title">Преимущества аренды</h3>
                    <!-- Загаловок контента конец -->

                    <!-- Блок контентный текст -->
                    <p class="info_text">{{ rent_terms_page.benefits_uz }}</p>
                    <!-- Блок контентный текст конец -->

                    <!-- Загаловок контента -->
                    <h3 class="offers_title offers_cntr">Наши предложения</h3>
                    <!-- Загаловок контента -->

                    <!-- Блок контентный текст -->
                    <p class="offers_text">{{ rent_terms_page.suggestions_uz }}</p>
                    <!-- Блок контентный текст конец -->
                </div>
                <!-- Контент условия аренды конец -->
            </div>
            <!-- Контейнер условия аренды информация конец -->
        </section>
        <!-- Секция Условия аренды информация -->

        {% include 'blocks/reviews.html' %}

        <!-- Секция с формой "Есть вопросы?" -->
        {% include 'blocks/question_form.html' %}
        <!-- Секция с формой "Есть вопросы?" конец-->
    </main>

    <!-- Футер  -->
    {% include 'footer.html' %}
    <!-- Футер конец -->

    <!-- Окно сообщения -->
    <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
        <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true"
             data-delay="5000">
            <div class="toast-header">
                <strong class="mr-auto">Товар добавлен в корзину</strong>
                <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
                    <span aria-hidden="true">×</span>
                </button>
            </div>
            <div class="toast-body">
                Ваш товар добавлен в корзину!
            </div>
        </div>
    </div>
    <!-- Конец окна сообщения -->
{% endblock %}