{% extends 'wrapper.html' %}
{% load static %}
{% block title %}{{ product.name_ru }}{% endblock %}
{% block content %}
    {# Callback #}
    {% include 'blocks/callback.html' %}
    {# End Callback #}

    <!-- Модальное окно узнать цену  -->
    <div class="modal fade" id="myModal_price">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                        <h2 class="modal_title">Арендовать {{ product.name_ru }}</h2>
                        <form action="{% url 'mainapp:product_order' %}" method="POST" class="modal_form">
                            {% csrf_token %}
                            <input type="hidden" name="lang" value="ru">
                            <input type="hidden" name="type" value="rent">
                            <div class="row">
                                <div class="col-12"><input name="name" required type="text" placeholder="Имя"></div>
                                <div class="col-12"><input name="phone" required type="tel" placeholder="Тел:"></div>
                                <div class="col-6"><input name="quantity" type="text" placeholder="Кол-во"></div>
                                <div class="col-6"><input name="time" type="text" placeholder="Срок:"></div>
                                <div class="col-12"><textarea name="text" placeholder="Коментарии"></textarea></div>
                                <div class="col-12 checkbox_modal">
                                    <label for="checkbox">
                                        <input required id="checkbox" class="checkbox_input" type="checkbox">
                                        Соглашаюсь с политикой обработанных данных</label>
                                </div>
                            </div>
                            <button type="submit" class="btn_modal_submit">
                                Узнать цену товара
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно узнать цену конец -->

    <!-- Модальное окно покупки -->
    <div class="modal fade" id="myModal_buy">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                        <h2 class="modal_title">Купить {{ product.name_ru }}</h2>
                        <form action="{% url 'mainapp:product_order' %}" method="POST" class="modal_form">
                            {% csrf_token %}
                            <input type="hidden" name="lang" value="ru">
                            <input type="hidden" name="type" value="buy">
                            <div class="row">
                                <div class="col-12"><input name="name" required type="text" placeholder="Имя"></div>
                                <div class="col-12"><input name="phone" required type="tel" placeholder="Тел:"></div>
                                <div class="col-12"><input name="quantity" type="text" placeholder="Кол-во"></div>
                                <div class="col-12"><textarea name="text" placeholder="Коментарии"></textarea></div>
                                <div class="col-12 checkbox_modal">
                                    <label for="checkbox">
                                        <input id="checkbox" required class="checkbox_input" type="checkbox">
                                        Соглашаюсь с политикой обработанных данных</label>
                                </div>
                            </div>
                            <button type="submit" class="btn_modal_submit">
                                Узнать цену товара
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно покупки  конец-->


    <!-- Модальное окно узнать цену и условия -->
    <div class="modal fade" id="myModal_page">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-body">
                        <h2 class="modal_title">Купить {{ product.name_ru }}</h2>
                        <form action="{% url 'mainapp:product_order' %}" method="POST" class="modal_form">
                            {% csrf_token %}
                            <input type="hidden" name="lang" value="ru">
                            <input type="hidden" name="type" value="ask">
                            <div class="row">
                                <div class="col-12"><input name="name" required type="text" placeholder="Имя"></div>
                                <div class="col-12"><input name="phone" required type="tel" placeholder="Тел:"></div>
                                <div class="col-12"><input name="quantity" type="text" placeholder="Кол-во"></div>
                                <div class="col-12"><textarea name="text" placeholder="Коментарии"></textarea></div>
                                <div class="col-12 checkbox_modal">
                                    <label for="checkbox">
                                        <input id="checkbox" class="checkbox_input" type="checkbox">
                                        Соглашаюсь с политикой обработанных данных</label>
                                </div>
                            </div>
                            <button type="submit" class="btn_modal_submit">
                                Узнать цену товара
                            </button>
                        </form>
                </div>
            </div>
        </div>
    </div>
    <!-- Модальное окно уззнать цену и условия -->

    <!-- Мобильное меню -->
    {% include 'blocks/mobile_menu.html' %}
    <!-- Мобильное меню конец -->
    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->
<main class="main-page">

    <!-- Секция загаловок страницы и хлебные крошки -->
    <section class="title_page">
        <!-- Загаловок страницы -->
        <h1>{{ product.name_ru }}</h1>
        <!-- Загаловок страницы -->

        <!-- Блок хлебные крошки -->
        <div class="breadcrumb">
            <ul>
                <!-- Ссылка на страницу первого уровня -->
                <li><a href="{% url 'mainapp:index' %}">Главная</a></li>
                <!-- Конец ссылки на страницу первого уровня -->
                <!-- Ссылка на страницу второго уровня -->
                <li><a href="{% url 'catalog:product_list' %}">Каталог товаров</a></li>
                <!-- Конец ссылки на страницу второго уровня -->
                <!-- Ссылка на страницу третьего уровня -->
                <li><a href="{% url 'catalog:category_detail' category.slug %}">{{ category.name_ru }}</a></li>
                <!-- Конец ссылки на страницу третьего уровня -->
                <!-- Страница на которой находится пользователь -->
                <li>{{ product.name_ru }}</li>
                <!-- Конец страницу четвертого уровня -->
            </ul>
        </div>
        <!-- Хлебные крошки -->
    </section>
    <!-- Секция загаловок страницы и хлебные крошки конец-->
    <!-- Секция мобильного каталога товаров -->
        {% include 'blocks/mobile_button.html' %}
        <!-- Конец секции мобильного каталога товаров -->
    <!--Секция карточки товара -->
    <section class="product_details">
        <!-- Блок главный контейнер карточки продукта -->
        <div class="product_details_container container-fluid spad">
            <div class="row">
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <!-- Блок с картинкой товара зумированная -->
                    <div class="zoom_img">
                        <img src="{{ product.img_1.url }}" alt="" />
                    </div>
                    <!-- Блок с картинкой товара зумированная -->

                    <!-- Блок товаров в карусели -->
                    <div class="gallery owl-carousel">
                        <!-- Картинка товара галереи -->
                        <a href="#" class="gallery_button"><img src="{{ product.img_1.url }}" alt="" /></a>
                        <!-- Картинка товара галереи конец -->

                        {% if product.img_2 %}
                            <!-- Картинка товара галереи -->
                            <a href="#" class="gallery_button"><img src="{{ product.img_2.url }}" alt="" /></a>
                            <!-- Картинка товара галереи конец -->
                        {% endif %}

                        {% if product.img_3 %}
                            <!-- Картинка товара галереи -->
                            <a href="#" class="gallery_button"><img src="{{ product.img_3.url }}" alt="" /></a>
                            <!-- Картинка товара галереи конец -->
                        {% endif %}

                        {% if product.img_4 %}
                            <!-- Картинка товара галереи -->
                            <a href="#" class="gallery_button"><img src="{{ product.img_4.url }}" alt="" /></a>
                            <!-- Картинка товара галереи конец -->
                        {% endif %}

                        {% if product.img_5 %}
                            <!-- Картинка товара галереи -->
                            <a href="#" class="gallery_button"><img src="{{ product.img_5.url }}" alt="" /></a>
                            <!-- Картинка товара галереи конец -->
                        {% endif %}
                    </div>
                    <!-- Блок товаров в карусели -->
                </div>
                <!-- Блок Характеристики -->
                <div class="col-12 col-sm-12 col-md-12 col-lg-6 col-xl-6">
                    <div class="specifications">
                        <!-- Загаловок характеристик -->
                        <h3 class="specifications_title">
                            Краткие характеристики
                        </h3>
                        <!-- Загаловок характеристик конец -->

                        <!-- Список Характеристик -->
                        <ul>
                            {% if product.spec_1_ru %}
                                <li>{{ product.spec_1_ru }}<span>{{ product.val_1_ru }}</span></li>
                            {% endif %}
                            {% if product.spec_2_ru %}
                                <li>{{ product.spec_2_ru }}<span>{{ product.val_2_ru }}</span></li>
                            {% endif %}
                            {% if product.spec_3_ru %}
                                <li>{{ product.spec_3_ru }}<span>{{ product.val_3_ru }}</span></li>
                            {% endif %}
                            {% if product.spec_4_ru %}
                                <li>{{ product.spec_4_ru }}<span>{{ product.val_4_ru }}</span></li>
                            {% endif %}
                            {% if product.spec_5_ru %}
                                <li>{{ product.spec_5_ru }}<span>{{ product.val_5_ru }}</span></li>
                            {% endif %}
                            {% if product.spec_6_ru %}
                                <li>{{ product.spec_6_ru }}<span>{{ product.val_6_ru }}</span></li>
                            {% endif %}
                        </ul>
                        <!-- Список Характеристик конец-->
                    </div>
                    <div class="specifications_down">
                        <form action="#">
                            <ul class="btns_rents_buy">
                                {% if product.rent == True %}
                                    <!-- Кнопка Арендовать -->
                                    <li>
                                        <span>Арендовать:</span>
                                        <button type="button" class="btn_rent" data-toggle="modal" data-target="#myModal_price">Узнать цену и условия</button>
                                    </li>
                                    <!-- Кнопка Арендовать конец -->
                                {% endif %}

                                {% if product.sell == True %}
                                    <!-- Кнопка Купить -->
                                    <li>
                                        <span>Купить:</span>
                                        <button type="button" class="btn_buy" data-toggle="modal" data-target="#myModal_buy">Узнать цену и условия</button>
                                    </li>
                                    <!-- Кнопка Купить конец -->
                                {% endif %}
                            </ul>
                            <p class="specifications_info_text">К сожалению,цены на товары и комплектующие постоянно меняются.Для получения информации по цене аренды или закупки пожалуйста обратитесь к нашим специалистам.Вы можете оставить заявку онлайн или позвонить в офис продаж</p>
                            <!-- Копка узнать цену и условия  -->
                            <button data-toggle="modal" data-target="#myModal_page" type="button" class="button_price">Узнать цену и условия</button>
                            <!-- Копка узнать цену и условия конец  -->
                        </form>
                    </div>
                </div>
                <!-- Блок Характеристики конец -->
            </div>
        </div>
        <!-- Блок главный контейнер карточки продукта конец -->
    </section>
    <!--Секция карточки товара конец -->

    <!-- Секция вкладок -->
    <section>
        <div class="container-fluid spad tabs">
            <div class="row tabs__nav">
                <!-- Таб описание -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <button class="tabs__nav-btn" type="button" data-tab="#tab_1"><img src="{% static 'img/text.svg' %}" alt="" class="tab_icon">Описание</button>
                </div>
                <!-- Таб описание конец -->

                <!-- Таб характеристики -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <button class="tabs__nav-btn" type="button" data-tab="#tab_2"><img src="{% static 'img/settings.svg' %}" alt="" class="tab_icon">Характеристики</button>
                </div>
                <!-- Таб характеристики конец -->

                <!-- Таб документация -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <button class="tabs__nav-btn" type="button" data-tab="#tab_3"><img src="{% static 'img/document.svg' %}" alt="" class="tab_icon">Документация</button>
                </div>
                <!-- Таб документация конец -->

                <!-- Таб отзывы -->
                <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                    <button class="tabs__nav-btn" type="button" data-tab="#tab_4"><img src="{% static 'img/cloud.svg' %}" alt="" class="tab_icon">Отзывы</button>
                </div>
                <!-- Таб отзывы конец -->
            </div>

            <!-- Блок содержимое таба Описание -->
            <div class="tabs__item" id="tab_1">
                <p>{{ product.description_ru }}</p>
            </div>
            <!-- Блок содержимое таба Описание конец -->

            <!-- Блок содердимое таба Характеристики -->
            <div class="tabs__item" id="tab_2">
                <div class="characteristics">
                    <!-- Загаловок Характеристики -->
                    <h3 class="characteristics_title">Характеристики</h3>
                    <!-- Загаловок Характеристики -->

                    <!-- Блок список характеристик -->
                    <ul class="characteristics_list">
                        <li>{{ product.spec_1_ru }}<span>{{ product.val_1_ru }}</span></li>
                        {% if product.spec_2_ru %}
                            <li>{{ product.spec_2_ru }}<span>{{ product.val_2_ru }}</span></li>
                        {% endif %}
                        {% if product.spec_3_ru %}
                            <li>{{ product.spec_3_ru }}<span>{{ product.val_3_ru }}</span></li>
                        {% endif %}
                        {% if product.spec_4_ru %}
                            <li>{{ product.spec_4_ru }}<span>{{ product.val_4_ru }}</span></li>
                        {% endif %}
                        {% if product.spec_5_ru %}
                            <li>{{ product.spec_5_ru }}<span>{{ product.val_5_ru }}</span></li>
                        {% endif %}
                        {% if product.spec_6_ru %}
                            <li>{{ product.spec_6_ru }}<span>{{ product.val_6_ru }}</span></li>
                        {% endif %}
                    </ul>
                    <!-- Блок список характеристик -->
                </div>
            </div>
            <!-- Блок содердимое таба Характеристики конец -->

            <!-- Блок содержимое таба Документация -->
            <div class="tabs__item" id="tab_3">
                <div class="file_row row">
                    {% if product.file_1 %}
                    <!-- Файл для скачивания документации -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <!-- Ссылка на файлик документации -->
                        <a href="{{ product.file_1.url }}">
                            <div class="file_item">
                                <!-- Иконка прайс листа  -->
                                <img src="{% static 'img/price.svg' %}" alt="">{{ product.file_1_name_ru }}
                                <!-- Иконка прайс листа конец -->

                                <!-- Кнопка скачать прайс -->
                                <a class="download_btn">скачать</a>
                                <!-- Кнопка скачать прайс конец -->
                            </div>
                        </a>
                        <!-- Ссылка на файлик документации конец -->
                    </div>
                    <!-- Файл для скачивания документации конец -->
                    {% endif %}
                    {% if product.file_2 %}
                    <!-- Файл для скачивания документации -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <!-- Ссылка на файлик документации -->
                        <a href="{{ product.file_2.url }}">
                            <div class="file_item">
                                <!-- Иконка прайс листа  -->
                                <img src="{% static 'img/price.svg' %}" alt="">{{ product.file_2_name_ru }}
                                <!-- Иконка прайс листа конец -->

                                <!-- Кнопка скачать прайс -->
                                <a class="download_btn">скачать</a>
                                <!-- Кнопка скачать прайс конец -->
                            </div>
                        </a>
                        <!-- Ссылка на файлик документации конец -->
                    </div>
                    <!-- Файл для скачивания документации конец -->
                    {% endif %}
                    {% if product.file_3 %}
                    <!-- Файл для скачивания документации -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <!-- Ссылка на файлик документации -->
                        <a href="{{ product.file_3.url }}">
                            <div class="file_item">
                                <!-- Иконка прайс листа  -->
                                <img src="{% static 'img/price.svg' %}" alt="">{{ product.file_3_name_ru }}
                                <!-- Иконка прайс листа конец -->

                                <!-- Кнопка скачать прайс -->
                                <a class="download_btn">скачать</a>
                                <!-- Кнопка скачать прайс конец -->
                            </div>
                        </a>
                        <!-- Ссылка на файлик документации конец -->
                    </div>
                    <!-- Файл для скачивания документации конец -->
                    {% endif %}
                    {% if product.file_4 %}
                    <!-- Файл для скачивания документации -->
                    <div class="col-12 col-sm-6 col-md-6 col-lg-3 col-xl-3 col-xxl-3">
                        <!-- Ссылка на файлик документации -->
                        <a href="{{ product.file_4.url }}">
                            <div class="file_item">
                                <!-- Иконка прайс листа  -->
                                <img src="{% static 'img/price.svg' %}" alt="">{{ product.file_4_name_ru }}
                                <!-- Иконка прайс листа конец -->

                                <!-- Кнопка скачать прайс -->
                                <a class="download_btn">скачать</a>
                                <!-- Кнопка скачать прайс конец -->
                            </div>
                        </a>
                        <!-- Ссылка на файлик документации конец -->
                    </div>
                    <!-- Файл для скачивания документации конец -->
                    {% endif %}
                </div>
            </div>
            <!-- Блок содержимое таба Документация конец -->

            <!-- Блок содержимое таба Отзывы -->
            <div class="tabs__item" id="tab_4">
                <div class="reviews_company spad no-bg">
                    <!-- Загаловок отзывов -->
                    <div class="header-content">
                        <h2>Отзывы</h2>
                    </div>
                    <!-- Загаловок отзывов -->

                    <!-- Общий контейнер слайдеров -->
                    <div class="swiper-container">
                        <!-- Обертка слайдов -->
                        <div class="swiper-wrapper">
                            {% for review in reviews %}
                            {% if review.pk|divisibleby:2 %}
                                <!-- Пункт отзыва -->
                                <div class="rewiew-slider-item">
                                    <!-- Имя пользователя -->
                                    <h3>{{ review.name }}</h3>
                                    <!-- Конец имени пользователя -->
                                    <!-- Текст отзыва пользователя -->
                                    <p>{{ review.text }}</p>
                                    <!-- Конец текста отзыва пользователя -->
                                </div>
                                <!-- Пункт отзыва конец -->
                                </div>
                                <!-- Слайды конец -->
                            {% else %}
                                <!-- Слайды -->
                                <div class="swiper-slide reviews-slide spad">
                                <!-- Пункт отзыва -->
                                <div class="rewiew-slider-item">
                                    <!-- Имя пользователя -->
                                    <h3>{{ review.name }}</h3>
                                    <!-- Конец имени пользователя -->
                                    <!-- Текст отзыва пользователя -->
                                    <p>{{ review.text }}</p>
                                    <!-- Конец текста отзыва пользователя -->
                                </div>
                                <!-- Пункт отзыва конец -->
                            {% endif %}
                        {% endfor %}
                        {% if reviews.count|divisibleby:2 %}
                        {% else %}
                            </div>
                            <!-- Слайды конец -->
                        {% endif %}
                        </div>
                        <!-- Обертка слайдов -->
                        <div class="swiper-button-prev"></div>
                        <div class="swiper-button-next"></div>
                    </div>
                    <!-- Общий контейнер слайдеров -->
                </div>

                <!-- Загаловок Оставить отзывы -->
                <div class="review_form_title">
                   <h2>Оставьте отзыв о товаре</h2>
                </div>
                <!-- Загаловок Оставить отзывы -->

                <!-- Форма оставить отзыв -->
                <form class="review_forms">
                    <!-- Поле для ввода имени -->
                    <input placeholder="Ваше имя" type="text">
                    <!-- Поле для ввода имени конец -->

                    <!-- Поле текста отзыва  -->
                    <textarea placeholder="Текст"></textarea>
                    <!-- Поле текста отзыва конец  -->

                    <!-- Кнопка оставить отзыв -->
                    <button>Оставьте отзыв</button>
                    <!-- Кнопка оставить отзыв конец -->
                </form>
                <!-- Форма оставить отзыв -->
            </div>
            <!-- Блок содержимое таба Отзывы -->
        </div>
    </section>
    <!-- Секция вкладок конец -->
</main>

        <!-- Футер  -->
        {% include 'footer.html' %}
        <!-- Футер конец -->

        <!-- Окно сообщения -->
        <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
          <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="toast-header">
            <strong class="mr-auto">Товар добавлен в корзину</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="toast-body">
            Ваш товар добавлен в корзину!
            </div>
          </div>
      </div>
      <!-- Конец окна сообщения -->
{% endblock %}