{% extends 'wrapper.html' %}
{% load static %}
{% block title %}Поиск{% endblock %}
{% block content %}
    {# Callback #}
    {% include 'blocks/callback.html' %}
    {# End Callback #}
    <!-- Мобильное меню -->
    {% include 'blocks/mobile_menu.html' %}
    <!-- Мобильное меню конец -->
    <!-- Хэдэр -->
    {% include 'header.html' %}
    <!-- Хэдэр конец -->

        <!-- Загаловок страницы и хлебные крошки -->
	<section class="title_page">
        <h1>Результаты поиска</h1>
        <div class="breadcrumb">
            <ul>
                <li><a href="Index.html">Главная</a></li>
                <li>Результаты поиска</li>
            </ul>
        </div>
    </section>
        <!-- Загаловок страницы и хлебные крошки конец-->
        <!-- Секция мобильного каталога товаров -->
        {% include 'blocks/mobile_button.html' %}
        <!-- Конец секции мобильного каталога товаров -->
    <!-- Секция результаты поиска -->
	<main class="search_page spad">
        <!-- Блок поиска товара -->
        <div class="user_search">
            <p>Вы искали: <span>{{ request.GET.search }}</span></p>
        </div>
        <!-- Блок поиска товара -->

        <!-- Блок Результаты поиска товаров -->
        <div class="search_group">
            <!-- Блок результаты поиска категорий -->
            <div class="search_category">
                <h2 class="search_item_header">Найденные категории</h2>
                <ul>
                    {% if search_categories %}
                        {% for category in search_categories %}
                            <li><a href="{% url 'catalog:category_detail' category.slug %}">{{ category.name_ru }}</a></li>
                        {% endfor %}
                    {% else %}
                        <li>Не найдено</li>
                    {% endif %}
                </ul>
            </div>
            <!-- Блок результаты поиска категорий -->

            <!-- Блок найденные товары -->
            <div class="search_product row category-tile-row category_bg">
                <!-- Загаловок результата поиска товаров -->
                <div class="col-12">
                    <h2 class="search_item_header">Найденные товары</h2>
                </div>
                <!-- Загаловок результата поиска товаров -->
                {% for product in page_obj %}
                    <!-- Товар -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                        <!-- Картинка товара  -->
                        <div class="cat-img">
                            <img src="{{ product.img_1.url }}" alt="">
                        </div>
                        <!-- Картинка товара конец -->

                        <!-- Имя товара -->
                        <h3>{{ product.name_ru }}</h3>
                        <!-- Имя товара конец -->

                        <!-- Характеристика товара -->
                        <ul>
                            <li>{{ product.spec_1_ru }} <span class="category-val">{{ product.val_1_ru }}</span></li>
                            <li>{{ product.spec_2_ru }} <span class="category-val">{{ product.val_2_ru }}</span></li>
                            <li>{{ product.spec_3_ru }} <span class="category-val">{{ product.val_3_ru }}</span></li>
                        </ul>
                        <!-- Характеристика товара конец -->

                        <!-- Ссылка перейти к товару -->
                        <div class="category-button">
                            <a href="{% url 'catalog:product_detail' product.category.slug product.slug %}">перейти</a>
                        </div>
                        <!-- Ссылка перейти к товару конец -->
                    </div>
                    <!-- Товар конец-->
                {% endfor %}
            </div>
            <!-- Блок найденные товары -->
        </div>
        <!-- Блок Результаты поиска товаров -->
        <!-- Пагинация -->
        <ul class="pagination">
            {% if page_obj.has_previous %}
                <!-- Стрелка для перехода на предыдущую страницу -->
                <li><a href="{{ request.path }}?search={{ request.GET.search }}&page={{ page_obj.previous_page_number }}">«</a></li>
                <!-- Конец стрелки для перехода на предыдущую страницу -->
            {% endif %}
            {% for page_number in page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
                    <!-- Ссылка на которой находиться пользователь -->
                    <li><a class="active" href="#">{{ page_number }}</a></li>
                    <!-- Конец ссылки на которой находится пользователь -->
                {% else %}
                    <!-- Ссылка на другую страницу -->
                    <li><a href="{{ request.path }}?search={{ request.GET.search }}&page={{ page_number }}">{{ page_number }}</a></li>
                    <!-- Конец ссылки на другую страницу -->
                {% endif %}
            {% endfor %}
            {% if page_obj.has_next %}
                <!-- Стрелка для перехода на следующую страницу -->
                <li><a href="{{ request.path }}?search={{ request.GET.search }}&page={{ page_obj.next_page_number }}">»</a></li>
                <!-- Конец стрелки для перехода на следующую страницу -->
            {% endif %}
        </ul>
        <!-- Пагинация конец-->
        <!-- Блок Результаты поиска товаров -->
        <div class="search_group">

            <!-- Блок найденные товары -->
            <div class="search_product row category-tile-row category_bg">
                <!-- Загаловок результата поиска товаров -->
                <div class="col-12">
                    <h2 class="search_item_header">Найденные арендуемые товары</h2>
                </div>
                <!-- Загаловок результата поиска товаров -->
                {% for product in rent_page_obj %}
                    <!-- Товар -->
                    <div class="col-lg-3 col-md-4 col-sm-6 col-12 category-item">
                        <!-- Картинка товара  -->
                        <div class="cat-img">
                            <img src="{{ product.img_1.url }}" alt="">
                        </div>
                        <!-- Картинка товара конец -->

                        <!-- Имя товара -->
                        <h3>{{ product.name_ru }}</h3>
                        <!-- Имя товара конец -->

                        <!-- Характеристика товара -->
                        <ul>
                            <li>Длина <span class="category-val">{{ product.length }}</span></li>
                            <li>Ширина <span class="category-val">{{ product.width }}</span></li>
                            <li>Высота <span class="category-val">{{ product.height }}</span></li>
                        </ul>
                        <!-- Характеристика товара конец -->

                        <!-- Ссылка перейти к товару -->
                        <div class="category-button">
                            <a href="{% url 'rent:rent_product_detail' product.category.slug product.slug %}">перейти</a>
                        </div>
                        <!-- Ссылка перейти к товару конец -->
                    </div>
                    <!-- Товар конец-->
                {% endfor %}
            </div>
            <!-- Блок найденные товары -->
        </div>
        <!-- Блок Результаты поиска товаров -->
        <!-- Пагинация -->
        <ul class="pagination">
            {% if rent_page_obj.has_previous %}
                <!-- Стрелка для перехода на предыдущую страницу -->
                <li><a href="{{ request.path }}?search={{ request.GET.search }}&rent_page={{ rent_page_obj.previous_page_number }}">«</a></li>
                <!-- Конец стрелки для перехода на предыдущую страницу -->
            {% endif %}
            {% for page_number in rent_page_obj.paginator.page_range %}
                {% if page_number == page_obj.number %}
                    <!-- Ссылка на которой находиться пользователь -->
                    <li><a class="active" href="#">{{ page_number }}</a></li>
                    <!-- Конец ссылки на которой находится пользователь -->
                {% else %}
                    <!-- Ссылка на другую страницу -->
                    <li><a href="{{ request.path }}?search={{ request.GET.search }}&rent_page={{ page_number }}">{{ page_number }}</a></li>
                    <!-- Конец ссылки на другую страницу -->
                {% endif %}
            {% endfor %}
            {% if rent_page_obj.has_next %}
                <!-- Стрелка для перехода на следующую страницу -->
                <li><a href="{{ request.path }}?search={{ request.GET.search }}&rent_page={{ rent_page_obj.next_page_number }}">»</a></li>
                <!-- Конец стрелки для перехода на следующую страницу -->
            {% endif %}
        </ul>
        <!-- Пагинация конец-->
	</main>
    <!-- Секция результаты поиска конец -->

        <!-- Футер  -->
        {% include 'footer.html' %}
        <!-- Футер конец -->

        <!-- Окно сообщения -->
        <div class="position-fixed top-0 right-0 p-3" style="z-index: 5; right: 0; top: 0;">
          <div id="liveToast" class="toast fade hide" role="alert" aria-live="assertive" aria-atomic="true" data-delay="5000">
            <div class="toast-header">
            <strong class="mr-auto">Товар добавлен в корзину</strong>
            <button type="button" class="ml-2 mb-1 close" data-dismiss="toast" aria-label="Close">
              <span aria-hidden="true">×</span>
            </button>
            </div>
            <div class="toast-body">
            Ваш товар добавлен в корзину!
            </div>
          </div>
      </div>
      <!-- Конец окна сообщения -->
{% endblock %}