{% load static %}
<!-- Кнопка Обратоного Вызова -->
<button type="button" class="recall_btn btn btn-primary" data-toggle="modal" data-target="#myModal">
    <img src="{% static 'img/phone_icon.svg' %}" alt="">
</button>
<!-- Кнопка Обратного Вызова конец -->

<!-- Модальное окно обратного звонка -->
<div class="modal fade" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">
            <!-- Начало контента модального окна -->
            <div class="modal-body">
                <h2 class="modal_title">Пожалуйста, заполните поля для обратной связи с Вами</h2>
                <form action="#" class="modal_form">
                    <div class="row">
                        <div class="col-12"><input type="text" placeholder="Имя"></div>
                        <div class="col-12"><input type="tel" placeholder="Тел:"></div>
                        <div class="col-6"><input type="text" placeholder="Кол-во"></div>
                        <div class="col-6"><input type="text" placeholder="Срок:"></div>
                        <div class="col-12"><textarea placeholder="Коментарии"></textarea></div>
                        <div class="col-12 checkbox_modal">
                            <label for="checkbox">
                                <input id="checkbox" class="checkbox_input" type="checkbox">
                                Соглашаюсь с политикой обработанных данных</label>
                        </div>
                    </div>
                    <button type="submit" class="btn_modal_submit">
                        Узнать цену товара
                    </button>
                </form>
            </div>
            <!-- Конец контента модального окна -->
        </div>
    </div>
</div>
<!-- Модальное окно обратного звонка конец -->