{% load static %}
<div class="overlay"></div>
<section class="mobile_menu">
    <!-- Логотип в мобильном -->
    <div class="logo">
        <a href="{% url 'mainapp:index' %}"><img src="{% static 'img/logo.png' %}" alt="logo"></a>
    </div>
    <!-- Логотип в мобильном конец -->

    <!-- Поиск в мобильном -->
    <div class="mobile_search">
        <form action="{% url 'catalog:search' %}" method="GET">
            <button><i class="fas fa-search"></i></button>
            <input type="search" required name="search">
        </form>
    </div>
    <!-- Поиск в мобильном конец -->

    <div class="mobile_cat_nav">
        <!-- Все категории в мобильном -->
        <div class="mobile_all-product">
            <a class="mobile_all-product-link" href="#"><span><i class="fas fa-list"></i></span>каталог товаров</a>
            <button class="open-cat-list"><i class="fas fa-chevron-right"></i></button>
            <!-- Начало ссылки меню категории товаров -->
            <ul>
                {% if '/uz/' in request.path %}
                    {% for category in categories %}
                        <li><a href="{% url 'catalog_uz:category_detail_uz' category.slug %}">{{ category.name_uz }}</a></li>
                    {% endfor %}
                {% else %}
                    {% for category in categories %}
                        <li><a href="{% url 'catalog:category_detail' category.slug %}">{{ category.name_ru }}</a></li>
                    {% endfor %}
                {% endif %}
            </ul>
            <!-- Конец ссылки меню категории товаров -->
        </div>
        <!-- Все категории в мобильном конец -->

        <!-- Навигация арендуемух товаров в мобильном -->
        <div class="mobile-category-nav">
            <ul>
                <li class="mobile-nav-elem">
                    <a href="Formwork_rental.html">Аренда опалубка</a>
                    <!-- Начало выпадающего списка -->
                    <ul>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem">
                            <a href="#">Пример</a>
                            <!-- Начало выпадающего списка -->
                            <ul>
                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                <li class="mobile-nav-elem">
                                    <a href="#">Пример1</a>
                                    <!-- Начало выпадающего списка -->
                                    <ul>
                                        <li class="mobile-nav-elem">
                                            <a href="#">Пример2</a>
                                            <!-- Начало выпадающего списка -->
                                            <ul>
                                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                            </ul>
                                            <!-- Конец выпадающего списка -->
                                        </li>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                    </ul>
                                    <!-- Конец выпадающего списка -->
                                </li>
                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                            </ul>
                            <!-- Конец выпадающего списка -->
                        </li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                    </ul>
                    <!-- Конец выпадающего списка -->
                </li>
                <li class="mobile-nav-elem">
                    <a href="Formwork_rental.html">Продажа опалубка</a>
                </li>
                <li class="mobile-nav-elem">
                    <a href="Formwork_rental.html">Аренда бытовок</a>
                    <!-- Начало выпадающего списка -->
                    <ul>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                        <li class="mobile-nav-elem">
                            <a href="#">Пример1</a>
                            <!-- Начало выпадающего списка -->
                            <ul>
                                <li class="mobile-nav-elem">
                                    <a href="#">Пример2</a>
                                    <!-- Начало выпадающего списка -->
                                    <ul>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                    </ul>
                                    <!-- Конец выпадающего списка -->
                                </li>
                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                                <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                            </ul>
                            <!-- Конец выпадающего списка -->
                        </li>
                        <li class="mobile-nav-elem"><a href="#">Пример</a></li>
                    </ul>
                    <!-- Конец выпадающего списка -->
                </li>
                <li class="mobile-nav-elem"><a href="Formwork_rental.html">Аренда лесов</a></li>
            </ul>
        </div>
        <!-- Навигация арендуемух товаров в мобильном конец -->
    </div>
    <!-- Навигация в мобильном -->
    <div class="mobile_nav">
        <!-- Начало ссылок навигации-->
        {% if '/uz/' in request.path %}
            <ul>
                <li><a href="{% url 'mainapp:about_uz' %}">Kompaniya haqida</a></li>
                <li><a href="{% url 'mainapp:contacts_uz' %}">Kontaktlar</a></li>
                <li><a href="{% url 'mainapp:rent_terms_uz' %}">Ijara shartlari</a></li>
                <li><a href="{% url 'mainapp:delivery_uz' %}">Yetkazib berish</a></li>
                <li><a href="{% url 'mainapp:services_uz' %}">Xizmatlar</a></li>
            </ul>
        {% else %}
            <ul>
                <li><a href="{% url 'mainapp:about' %}">О компании</a></li>
                <li><a href="{% url 'mainapp:contacts' %}">Контакты</a></li>
                <li><a href="{% url 'mainapp:rent_terms' %}">Условия аренды</a></li>
                <li><a href="{% url 'mainapp:delivery' %}">Доставка</a></li>
                <li><a href="{% url 'mainapp:services' %}">Услуги</a></li>
            </ul>
        {% endif %}
        <!-- Конец ссылок навигации -->
    </div>
    <!-- навигация в мобильном конец -->
    <!-- Языки в мобильном  -->
    <div class="mobile_lang">
        <!-- Начало ссылки на языки -->
        <ul>
            {% if '/uz/' in request.path %}
                <li><a href="#" id="header_lang_ru">рус</a></li>
                <li><a href="#" class="active-lang" id="header_lang_uz">uzb</a></li>
            {% else %}
                <li><a href="#" class="active-lang" id="header_lang_ru">рус</a></li>
                <li><a href="#" id="header_lang_uz">uzb</a></li>
            {% endif %}
        </ul>
        <!-- Конец ссылки на языки -->
    </div>
    <!-- Языки в мобильном конец -->

    <!-- Кнопка закрыть мобильное меню  -->
    <div class="menu-clouse">
        <button class="menu-clouse-button">Закрыть меню</button>
    </div>
    <!-- Кнопка закрыть мобильное меню конец -->
</section>
<!-- Иконка открытия мобильного меню  -->
<div class="mobile-button">
    <button><i class="fas fa-bars"></i></button>
</div>
<!-- Иконка открытия мобильного меню конец -->