{% load static %}
<section class="form set-bg" data-setbg="{% static 'img/bg_leave.png' %}">
    <div class="container-fluid spad">
        <div class="row">
            <form class="form_container form_cont set-bg" data-setbg="{% static 'img/bg_blur.png' %}"
                  action="{% url 'mainapp:one_more_callback_send' %}"
                  method="POST">
                {% csrf_token %}
                {% if '/uz/' in request.path %}
                    <input type="hidden" name="lang" value="uz">
                {% else %}
                    <input type="hidden" name="lang" value="ru">
                {% endif %}
                <!-- Загаловок форм -->
                <h3>Есть вопросы?! Пишите нам!</h3>
                <!-- Загаловок форм конец -->

                <!-- Поле для имени -->
                <input name="name" required class="form_input" type="text" placeholder="Ваше имя">
                <!-- Поле для имени конец -->

                <!-- Поле для телефона -->
                <input name="phone" required class="form_input" type="tel" placeholder="Номер телефона">
                <!-- Поле для телефона конец -->

                <!-- Поле текста для вопроса -->
                <textarea class="textarea_input" name="text" placeholder="Текст вопроса:"></textarea>
                <!-- Поле текста для вопроса конец -->

                <!-- Блок отправки -->
                <div class="submit_block">
                    <div class="checkbox_item">
                        <label for="checkbox_page"><input required id="checkbox_page" class="checkbox_input"
                                                          type="checkbox">Соглашаюсь с политикой обработанных
                            данных</label>
                    </div>
                    <button class="btn_submit" type="submit">Отправить</button>
                </div>
                <!-- Блок отправки конец -->
            </form>
        </div>
    </div>
</section>