<!-- Секция отзывов -->
<section class="reviews_company spad no-bg">
    <!-- Заголовок отзывов -->
    <div class="header-content">
        <h2>Отзывы</h2>
    </div>
    <!-- Заголовок отзывов конец -->

    <!-- Главный контейнер слайдеров -->
    <div class="swiper-container">
        <!-- Оболочка слайдов -->
        <div class="swiper-wrapper">

            {% for review in reviews %}
                {% if review.pk|divisibleby:2 %}
                    <!-- Пункт отзыва -->
                    <div class="rewiew-slider-item">
                        <!-- Имя пользователя -->
                        <h3>{{ review.name }}</h3>
                        <!-- Конец имени пользователя -->
                        <!-- Текст отзыва пользователя -->
                        <p>{{ review.text }}</p>
                        <!-- Конец текста отзыва пользователя -->
                    </div>
                    <!-- Пункт отзыва конец -->
                    </div>
                    <!-- Слайды конец -->
                {% else %}
                    <!-- Слайды -->
                    <div class="swiper-slide reviews-slide spad">
                    <!-- Пункт отзыва -->
                    <div class="rewiew-slider-item">
                        <!-- Имя пользователя -->
                        <h3>{{ review.name }}</h3>
                        <!-- Конец имени пользователя -->
                        <!-- Текст отзыва пользователя -->
                        <p>{{ review.text }}</p>
                        <!-- Конец текста отзыва пользователя -->
                    </div>
                    <!-- Пункт отзыва конец -->
                {% endif %}
            {% endfor %}
            {% if reviews.count|divisibleby:2 %}
            {% else %}
                </div>
                <!-- Слайды конец -->
            {% endif %}
        </div>
        <!-- Оболочка слайдов конец -->
        <!-- Кнопки переключения слайдера -->
        <!-- Кнопка пролистывания вперед -->
        <div class="swiper-button-prev"></div>
        <!-- Конец кнопки пролистывания вперед -->
        <!-- Кнопка пролистывания назад -->
        <div class="swiper-button-next"></div>
        <!-- Конец кнопок пролистывания назад -->
        <!-- Конец кнопок переключения слайдера -->
    </div>
    <!-- Главный контейнер слайдеров конец-->
</section>
<!-- Секция отзывов конец -->